<div class="container">
	<h2 class="text-center mt-5">Blogs</h2>
	<div class="col-sm-10 mx-auto text">
		<h6 class= "m-1">AppsImpact Academy offers and designs awesome Ruby on Rails blogs, on such problems wherein a rails developer or a beginner might require some help. We create blogs on very helpful practical problems and all of our blogs are well tested by experienced ROR developers and can assist to understand the complex or confusing pieces of Ruby on Rails and all set for beginner’s level as well. By reading and trying practically our blogs, you can save your time in finding a solution from scratch.</h6>
	</div>
	<div class="card shadow m-3 col-sm-10 mx-auto">
		<div class="card-body">
			<h4 class="card-title">Creating Custom Rake Tasks in Rails Application</h4>
			<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>View Post</a>
		</div>	
	</div>

	<div class="card shadow m-3 col-sm-10 mx-auto">
		<div class="card-body">
			<h4 class="card-title">Implementing Devise with Bootstrap Modal and Ajax - Rails 5 : Part - II</h4>
			<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>View Post</a>
		</div>	
	</div>

	<div class="card shadow m-3 col-sm-10 mx-auto">
		<div class="card-body">
			<h4 class="card-title">Implementing Devise with Bootstrap Modal and Ajax - Rails 5 : Part - I</h4>
			<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>View Post</a>
		</div>	
	</div>

	<div class="card shadow m-3 col-sm-10 mx-auto">
		<div class="card-body">
			<h4 class="card-title">DRYing rails controllers using metaprogramming</h4>
			<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>View Post</a>
		</div>	
	</div>

	<div class="card shadow m-3 col-sm-10 mx-auto">
		<div class="card-body">
			<h4 class="card-title">Using Jquery Autocomplete With Rails 5</h4>
			<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>View Post</a>
		</div>	
	</div>

	<div class="card shadow m-3 col-sm-10 mx-auto">
		<div class="card-body">
			<h4 class="card-title">How to add bootstrap 4 to your Rails 6 application?</h4>
			<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>View Post</a>
		</div>	
	</div>

	<div class="card shadow m-3 col-sm-10 mx-auto">
		<div class="card-body">
			<h4 class="card-title">Using acts-as-taggable-on with selectize.js with webpacker in Rails 6</h4>
			<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>View Post</a>
		</div>	
	</div>
</div>