<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="row">
    <div class="col-sm-4 m-5 text-left">
      <h6 class="h4 small">AI-Academy</h6>
      <h6 class="h4 small">At AI-Academy we prepare awesome Ruby and Ruby on Rails questions</h6>
      <h6 class="h4 small">2021</h6>
    </div>
    <div class="col-sm-4 m-5 text-left">
      <h6><%= link_to "Blogs", blogs_index_path, class: "text-white h4 small" %></h6>
      <h6><%= link_to "Questions", quesions_path, class: "text-white h4 small" %></h6>
      <h6><%= link_to "About Us", home_index_path, class: "text-white h4 small" %></h6>
    </div>
  </div>
  
</footer>
