<img class="img-fluid" style="width: 100%;" src="/assets/h.png">
<div class="container text-center p-4">
	<div class="col-sm-10 mx-auto">
		<p>At AppsImpact Academy we prepare awesome Ruby and Ruby on Rails questions. You can visit our questions to get more better results no matter who you are. While designing questions or logical problems we not only keep Ruby and Ruby on Rails in mind but we also prefer to put analytical, algorithmic thinking.

		If you are a fresher and looking for job as a Ruby developer then we believe that we can be a better place for you to get all basic to strong Ruby questions.

		If you are an experienced Ruby on Rails developer and looking for change then our questions will definitely help you in getting your desired position. Our questions ranges from basic to complex, from definition to logical questions etc.

		If you are a company or client and eagerly looking for hiring some highly telented or well experienced ROR developer then we are the best place for you. You can ask questions designed by us with your preferable candidates and you can also request us to prepare more complex problems so that we can design such complex problems and only the developers with very strong Ruby and Rails experience can sole them.</p>
		<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>View Awesome Ruby Quesions</a>
    </div>
</div>
<div class="bg-light card shadow mt-5 mb-4">
	<h3 class="text-center mt-2">Contact Us</h3>
	<div class="row p-5 text-center">
		<div class="col-sm-4">
			<i class="fas fa-map-marker-alt fa-3x text-primary"></i>
			<p class="h4 small mt-2">3rd Floor, Plot No. 146 Scheme No. 54 (PU4), Vijay Nagar Indore MP 452010 IN</p>
		</div>
		<div class="col-sm-4">
			<i class="far fa-envelope fa-3x text-primary"></i>
			<p class="h4 small mt-2">info@aiacademy.com</p>
		</div>
		<div class="col-sm-4">
			<i class="fas fa-phone fa-3x text-primary"></i>
			<p class="h4 small mt-2">+91 9907028865</p>
		</div>
	</div>
</div>